framework:
  messenger:
    failure_transport: failed

    transports:
      # https://symfony.com/doc/current/messenger.html#transport-configuration
      async:
        dsn: "%env(MESSENGER_TRANSPORT_DSN)%"
        options:
          use_notify: true
          check_delayed_interval: 60000
        retry_strategy:
          max_retries: 3
          multiplier: 2
      failed: "doctrine://default?queue_name=failed"
      # sync: 'sync://'

    default_bus: command.bus

    buses:
      command.bus:
        middleware:
          - validation
          - doctrine_transaction
      query.bus: ~

    routing:
      Symfony\Component\Mailer\Messenger\SendEmailMessage: async
      Symfony\Component\Notifier\Message\ChatMessage: async
      Symfony\Component\Notifier\Message\SmsMessage: async
      'App\User\Application\Command\': command.bus
      'App\Circle\Application\Command\': command.bus
      'App\Post\Application\Command\': command.bus
      'App\Comment\Application\Command\': command.bus
      'App\Vote\Application\Command\': command.bus
      'App\Moderation\Application\Command\': command.bus
      'App\AiSummary\Application\Command\': command.bus
